openapi: 3.0.3
info:
 title: WarmHouse API
 description: API для системы управления микроклиматом "Теплый дом"
 version: 1.0.0
 contact:
 name: Support Team
 email: support@warmhouse.com
 license:
 name: Apache 2.0
 url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

servers:
 - url: 'https://api.warmhouse.com/v1'
 description: Production server

paths:
 /users:
 get:
 summary: Получить список пользователей
 operationId: getUsers
 security:
 - bearerAuth: 
 responses:
 '200':
 description: Список пользователей
 content:
 application/json:
 schema:
 type: array
 items:
 $ref: '#/components/schemas/User'
 '401':
 description: Неавторизованный доступ
 '500':
 description: Внутренняя ошибка сервера

 /users/{userId}:
 get:
 summary: Получить информацию о пользователе
 operationId: getUser
 parameters:
 - name: userId
 in: path
 required: true
 schema:
 type: string
 security:
 - bearerAuth: 
 responses:
 '200':
 description: Информация о пользователе
 content:
 application/json:
 schema:
 $ref: '#/components/schemas/User'
 '401':
 description: Неавторизованный доступ
 '404':
 description: Пользователь не найден
 '500':
 description: Внутренняя ошибка сервера

 /devices:
 get:
 summary: Получить список устройств
 operationId: getDevices
 security:
 - bearerAuth: 
 responses:
 '200':
 description: Список устройств
 content:
 application/json:
 schema:
 type: array
 items:
 $ref: '#/components/schemas/Device'
 '401':
 description: Неавторизованный доступ
 '500':
 description: Внутренняя ошибка сервера

 /devices/{deviceId}:
 get:
 summary: Получить информацию об устройстве
 operationId: getDevice
 parameters:
 - name: deviceId
 in: path
 required: true
 schema:
 type: string
 security:
 - bearerAuth: 
 responses:
 '200':
 description: Информация об устройстве
 content:
 application/json:
 schema:
 $ref: '#/components/schemas/Device'
 '401':
 description: Неавторизованный доступ
 '404':
 description: Устройство не найдено
 '500':
 description: Внутренняя ошибка сервера

 /metrics:
 get:
 summary: Получить метрики устройств
 operationId: getMetrics
 parameters:
 - name: deviceId
 in: query
 required: false
 schema:
 type: string
 - name: startTime
 in: query
 required: false
 schema:
 type: string
 format: date-time
 - name: endTime
 in: query
 required: false
 schema:
 type: string
 format: date-time
 security:
 - bearerAuth: 
 responses:
 '200':
 description: Метрики устройств
 content:
 application/json:
 schema:
 type: array
 items:
 $ref: '#/components/schemas/Metric'
 '401':
 description: Неавторизованный доступ
 '400':
 description: Некорректные параметры запроса
 '500':
 description: Внутренняя ошибка сервера

components:
 securitySchemes:
 bearerAuth:
 type: http
 scheme: bearer
 bearerFormat: JWT

 schemas:
 User:
 type: object
 properties:
 id:
 type: string
 username:
 type: string
 email:
 type: string
 role:
 type: string
 enum: user, admin

 Device:
 type: object
 properties:
 id:
 type: string
 name:
 type: string
 type:
 type: string
 status:
 type: string
 ownerId:
 type: string

 Metric:
 type: object
 properties:
 deviceId:
 type: string
 timestamp:
 type: string
 format: date-time
 temperature:
 type: number
 humidity:
 type: number

 examples:
 userExample:
 value:
 id: "12345"
 username: "user123"
 email: "user@example.com"
 role: "user"

 deviceExample:
 value:
 id: "dev-123"
 name: "Термостат в гостиной"